body{
    background-color: rgb(230, 35, 35);
    color: rgb(173, 13, 61);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(219, 22, 81);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(25, 25, 26);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}