body{
    background-color: rgb(168, 31, 31);
    color: rgb(134, 8, 134);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(160, 4, 152);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(106, 3, 138);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}