body{
    background-color: rgb(110, 10, 156);
    color: rgb(184, 9, 9);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(201, 6, 6);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(19, 179, 27);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}